*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.strength-meter {
  position: relative;
  height: 0.5rem;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 1rem;
  margin-top: 5px;
  overflow: hidden;
}

.strength-meter::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(1% * var(--strength, 0));
  background-color: var(--meterColor, #ccc);
  transition: width 200ms, background-color 200ms;
}

.message {
  font: small-caption;
  margin: 3px 0px;
  font-size: 12px;
  transition: all 200ms;
}
